@{
    ViewData["Title"] = "About";
}
<br />
<div class="container p-5 mb-5 text-white" style="background-color:#ff5722">
    <h4>About Note Maker</h4><hr />
    <h6>A Simple Note Making app where users can login and save notes in their accounts.</h6>
    <h6>For Contact and Support Email Us codingfurqaan@gmail.com</h6>
</div>